test01/pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Check_folder_models",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set current_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "predis_models_folder",
						"type": "DatasetReference",
						"parameters": {
							"current_date_year": {
								"value": "@substring(variables('current_date'),0,4)",
								"type": "Expression"
							},
							"current_date_month": {
								"value": "@substring(variables('current_date'),5,2)",
								"type": "Expression"
							},
							"current_date_day": {
								"value": "@substring(variables('current_date'),8,2)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "Set current_date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_date",
					"value": {
						"value": "@if(empty(pipeline().parameters.ref_timestamp), adddays(utcnow(),-1, 'yyyy-MM-dd'), adddays(formatDateTime(pipeline().parameters.ref_timestamp,'yyyy-MM-dd'),-1, 'yyyy-MM-dd'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Check_folder_models",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Check_folder_models').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().name, 'MODEL=COGEN')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "model_name",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "If Condition1_copy1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().name, 'MODEL=HIDRO')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1_copy1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "model_name",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ref_timestamp": {
				"type": "string"
			}
		},
		"variables": {
			"current_date": {
				"type": "String"
			},
			"model_name": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}